.App {
   display: flex !important;
   border: solid 2px #fff !important;
   text-align: center;
   background-image: url("../public/rm02.jpg");
   background-size:contain;
   background-repeat: cover !important;
   height: 100%;
   align-self:auto;
}
