.App {
   display: flex !important;
   border: solid 2px #fff !important;
   text-align: center;
   background-image: url("../public/homeworkRAM.jpg");
   background-size:auto;
   background-repeat:repeat repeat-y;
   height: 3200px;
   align-self:auto;
}
